Repository grahamc/system-configurations: changes, and which lefthook commands are due for each by the changed paths.
All: codegen-readme, codegen-neovim

.lefthook.yml:

# By default lefthook uses true colors (e.g. #FFFFFF), but they may not be readable depending on
# the terminal background color. Instead I'm using ANSI colors since they come from the terminal's
# color palette.
colors:
  cyan: 6
  gray: 8
  green: 2
  red: 1
  yellow: 3

pre-commit:
  piped: true
  commands:
    codegen-readme:
      priority: 1
      glob: "README.md"
      run: direnv exec "$PWD" just codegen-readme
    codegen-neovim:
      priority: 1
      glob: "*neovim/lua/*.lua"
      run: direnv exec "$PWD" just codegen-neovim
    format:
      priority: 2
      run: direnv exec "$PWD" just format

post-merge:
  scripts:
    "post-merge.bash":
      runner: direnv exec "$PWD" bash

post-rewrite:
  scripts:
    "post-rewrite.bash":
      runner: direnv exec "$PWD" bash

fix(wezterm): add wezterm's terminfo to the database
  dotfiles/fish/conf.d/general.fish
  dotfiles/wezterm/wezterm.lua
  flake-modules/home-manager/modules/profile/application-development.nix
  flake-modules/home-manager/modules/profile/system-administration.nix
  flake-modules/home-manager/modules/tmux.nix
  flake-modules/home-manager/modules/wezterm.nix
  flake-modules/overlay/default.nix
  flake-modules/overlay/misc.nix
Due: none

use nightly wezterm
  flake-modules/nix-darwin/modules/homebrew.nix
Due: none

(fish) don't attach to a specific tmux session
  dotfiles/fish/config.fish
Due: none

cleanup
  flake-modules/home-manager/modules/profile/application-development.nix
  flake-modules/home-manager/modules/profile/system-administration.nix
  flake-modules/overlay/default.nix
  flake-modules/overlay/meta-packages.nix
  flake-modules/overlay/partial-packages.nix
  flake-modules/overlay/plugins/vim-plugins.nix
  flake-modules/portable-home/shell/home-manager-package.nix
Due: none

fix: don't add clear on linux since it conflicts with ncurses
  flake-modules/overlay/partial-packages.nix
Due: none

(nix) use `vim.loader.reset()` instead of deleting the cache folder
  flake-modules/home-manager/modules/neovim.nix
Due: none

(tmux) don't specify terminal features
  dotfiles/tmux/tmux.conf
Due: none

(neovim) wrap reticle function in pcall to avoid error
  dotfiles/neovim/lua/terminal.lua
Due: codegen-neovim

(neovim) add quickfix statusline
  dotfiles/neovim/lua/terminal.lua
Due: codegen-neovim

(neovim) cmp-tmux tweaks
  dotfiles/neovim/lua/terminal.lua
Due: codegen-neovim

(neovim) set up comment formatting
  dotfiles/neovim/init.lua
  dotfiles/neovim/lua/base.lua
  dotfiles/neovim/lua/terminal.lua
  dotfiles/neovim/plugin-names.txt
  flake-modules/home-manager/modules/neovim.nix
  flake.lock
  flake.nix
Due: codegen-neovim

make lua-ls workspace smaller
  flake-modules/home-manager/modules/neovim.nix
Due: none

(neovim) nvim-lastplace -> vim-lastplace nvim-lastplace isn't maintained
  dotfiles/neovim/lua/terminal.lua
  dotfiles/neovim/plugin-names.txt
  flake.lock
  flake.nix
Due: codegen-neovim

(neovim) separate mapping to close windows
  dotfiles/neovim/lua/terminal.lua
Due: codegen-neovim

(neovim) fixes
  dotfiles/neovim/lua/terminal.lua
Due: codegen-neovim

(readme) wording
  README.md
Due: codegen-readme

(neovim) fix comment formatting
  dotfiles/neovim/init.lua
  dotfiles/neovim/lua/base.lua
  dotfiles/neovim/lua/terminal.lua
  dotfiles/neovim/plugin-names.txt
  flake.lock
  flake.nix
Due: codegen-neovim

get latest wezterm terminfo
  flake-modules/assign-inputs-to-host-managers.nix
  flake-modules/overlay/misc.nix
  flake.lock
  flake.nix
Due: none

format
  dotfiles/neovim/lua/base.lua
  dotfiles/neovim/lua/terminal.lua
  flake-modules/home-manager/modules/neovim.nix
Due: codegen-neovim

fix(neovim): only remove trailing newline in visual line mode
  dotfiles/neovim/init.lua
Due: none

upgrade
  dotfiles/nix/nix.conf
  flake.lock
Due: none

reduce env vars set by devShell
  flake-modules/dev-shell.nix
Due: none

fixes
  .justfile
  dotfiles/login-shell/profile.sh
  dotfiles/neovim/lua/base.lua
  dotfiles/neovim/lua/terminal.lua
  tests.bash
Due: codegen-neovim

format
  dotfiles/login-shell/bashrc.bash
  dotfiles/login-shell/profile.sh
  dotfiles/neovim/lua/base.lua
  dotfiles/neovim/lua/plug.lua
  dotfiles/neovim/lua/terminal.lua
  flake-modules/assign-inputs-to-host-managers.nix
  flake-modules/bundler/default.nix
  flake-modules/cache.nix
Due: codegen-neovim

stuff
  flake-modules/dev-shell.nix
  flake-modules/smart-plug.nix
Due: none

(just) add task to get secrets
  .justfile
Due: none

append to NIX_CONFIG
  tests.bash
Due: none

secrets
  .justfile
Due: none

test secret fetching
  .envrc
  .justfile
  flake-modules/dev-shell.nix
  tests.bash
Due: none

(nix) make a bootstrap module
  flake-modules/bootstrap.nix
  flake-modules/home-manager/default.nix
  flake-modules/nix-darwin/default.nix
  flake.nix
Due: none

format comments
  dotfiles/login-shell/bashrc.bash
  dotfiles/smart_plug/smart_plug.py
  flake-modules/assign-inputs-to-host-managers.nix
Due: none

upgrade
  flake.lock
Due: none

(neovim) tweak notifications
  dotfiles/neovim/lua/terminal.lua
Due: codegen-neovim

(neovim) swap targets.vim for mini.ai
  dotfiles/neovim/lua/base.lua
  dotfiles/neovim/lua/terminal.lua
  dotfiles/neovim/plugin-names.txt
Due: codegen-neovim

swap vim-exchange for mini.operators
  dotfiles/neovim/lua/base.lua
  dotfiles/neovim/plugin-names.txt
Due: codegen-neovim

(neovim) only show the colorcolumn in the active window
  dotfiles/neovim/lua/terminal.lua
Due: codegen-neovim

(neovim) enable mini.indentscope
  dotfiles/neovim/lua/base.lua
  dotfiles/neovim/lua/terminal.lua
Due: codegen-neovim

(neovim) make C-<direction> move by 6 instead of 10
  dotfiles/neovim/lua/base.lua
Due: codegen-neovim

(skhd, yabai) hitting the edge of a display moves to the next one
  dotfiles/skhd/skhdrc
Due: none

fix lints
  dotfiles/neovim/lua/base.lua
Due: codegen-neovim
