Repository grahamc/system-configurations: changes, and which lefthook commands are due for each by the changed paths.
All: codegen-readme, codegen-neovim, go-mod-tidy

.lefthook.yml:

# By default lefthook uses true colors (e.g. #FFFFFF), but they may not be readable depending on
# the terminal background color. Instead I'm using ANSI colors since they come from the terminal's
# color palette.
colors:
  cyan: 6
  gray: 8
  green: 2
  red: 1
  yellow: 3

output: false

pre-commit:
  piped: true
  commands:
    codegen-readme:
      priority: 1
      glob: "README.md"
      run: DIRENV_LOG_FORMAT='' direnv exec "$PWD" just codegen-readme
    codegen-neovim:
      priority: 1
      glob: "*neovim/lua/*.lua"
      run: DIRENV_LOG_FORMAT='' direnv exec "$PWD" just codegen-neovim
    go-mod-tidy:
      priority: 1
      glob: "*gozip/*"
      run: DIRENV_LOG_FORMAT='' direnv exec "$PWD" just go-mod-tidy
    format:
      priority: 2
      run: DIRENV_LOG_FORMAT='' direnv exec "$PWD" just format

post-merge:
  scripts:
    "post-merge.bash":
      runner: DIRENV_LOG_FORMAT='' direnv exec "$PWD" bash
      interactive: true

post-rewrite:
  scripts:
    "post-rewrite.bash":
      runner: DIRENV_LOG_FORMAT='' direnv exec "$PWD" bash
      interactive: true

cleanup
  dotfiles/ripgrep/config.jsonc
  dotfiles/wezterm/wezterm.lua
  flake-modules/portable-home/default.nix
  flake-modules/portable-home/make-portable-home/default.nix
  flake-modules/portable-home/make-portable-home/home-manager-package.nix
  flake-modules/portable-home/make-portable-home/make-bootstrap-script.nix
  flake-modules/portable-home/make-shell/default.nix
Due: none

fix backdrop
  dotfiles/neovim/lua/terminal/aesthetic/misc.lua
  dotfiles/neovim/lua/terminal/statusbars/statusline.lua
  flake-modules/home-manager/modules/neovim.nix
Due: codegen-neovim

chore: upgrade tools
  dotfiles/neovim/lua/terminal/aesthetic/misc.lua
  flake.lock
Due: codegen-neovim

only add backdrop for specific file types
  dotfiles/neovim/lua/terminal/aesthetic/misc.lua
Due: codegen-neovim

stuff
  .github/workflows/publish-shell-executable.yml
  .shellcheckrc
  README.md
  dotfiles/default-shells/bashrc.bash
  dotfiles/default-shells/zshrc.zsh
  dotfiles/fish/conf.d/fish.fish
  dotfiles/fish/conf.d/general.fish
  dotfiles/fish/conf.d/widgets.fish
  dotfiles/fzf/fzf-default-opts.fish
  dotfiles/fzf/fzf-wrapper.fish
  dotfiles/general/executables/default-shell.sh
  dotfiles/neovim/lua/base/mini.lua
  dotfiles/neovim/lua/base/searching.lua
  dotfiles/neovim/lua/terminal/aesthetic/colorschemes/light_and_dark.lua
  dotfiles/neovim/lua/terminal/aesthetic/misc.lua
  dotfiles/neovim/lua/terminal/file-explorer.lua
  dotfiles/neovim/lua/terminal/folds/folding-nvim.lua
  dotfiles/neovim/lua/terminal/lsp.lua
  dotfiles/neovim/lua/terminal/sessions.lua
  dotfiles/neovim/lua/terminal/statusbars/tabline.lua
  dotfiles/neovim/lua/vscode.lua
  dotfiles/skhd/skhdrc
  dotfiles/smart_plug/README.md
  dotfiles/tmux/tmux.conf
  dotfiles/wezterm/wezterm.lua
  flake-modules/assign-inputs-to-host-managers.nix
  flake-modules/bundler/gozip/gozip.go
  flake-modules/dev-shell.nix
  flake-modules/home-manager/modules/fzf.nix
  flake-modules/home-manager/modules/neovim.nix
  flake-modules/home-manager/modules/ripgrep-all.nix
  flake-modules/home-manager/modules/tmux.nix
  flake-modules/overlay/misc.nix
  flake.lock
  flake.nix
Due: codegen-readme, codegen-neovim, go-mod-tidy

remove stuff
  dotfiles/git/config
  dotfiles/gitui/theme.ron
  dotfiles/neovim/lua/terminal/aesthetic/colorschemes/light_and_dark.lua
  dotfiles/neovim/lua/terminal/aesthetic/misc.lua
  dotfiles/neovim/lua/terminal/git.lua
  dotfiles/neovim/lua/terminal/init.lua
  dotfiles/neovim/lua/terminal/misc.lua
  dotfiles/neovim/lua/terminal/sessions.lua
  dotfiles/neovim/plugin-names.txt
  dotfiles/tmux/tmux.conf
  flake-modules/home-manager/modules/git.nix
  flake-modules/portable-home/make-portable-home/default.nix
  flake.lock
  flake.nix
Due: codegen-neovim

upgrade
  dotfiles/general/executables/trash-macos.py
  dotfiles/neovim/lua/base/mini.lua
  dotfiles/tmux/tmux-click-url.py
  flake.lock
Due: codegen-neovim

env stuff
  .envrc
  .gitignore
  dotfiles/default-shells/login-config.sh
  dotfiles/fish/conf.d/apt.fish
  dotfiles/neovim/lua/base/operators.lua
  dotfiles/neovim/lua/terminal/aesthetic/colorschemes/light_and_dark.lua
  dotfiles/neovim/lua/terminal/statusbars/statuscolumn.lua
Due: codegen-neovim

chore: upgrade tools
  dotfiles/fish/conf.d/fish.fish
  dotfiles/neovim/lua/base/mini.lua
  dotfiles/neovim/lua/terminal/aesthetic/colorschemes/light_and_dark.lua
  dotfiles/tmux/bin/default-command
  flake-modules/overlay/misc.nix
  flake.lock
Due: codegen-neovim

Revert "only add backdrop for specific file types"
  dotfiles/neovim/lua/base/mini.lua
  dotfiles/neovim/lua/terminal/aesthetic/colorschemes/light_and_dark.lua
  dotfiles/neovim/lua/terminal/aesthetic/misc.lua
  dotfiles/smart_plug/mac_os/Speakers.spoon/init.lua
Due: codegen-neovim

chore: upgrade tools
  flake-modules/nix-darwin/modules/homebrew.nix
  flake-modules/overlay/misc.nix
  flake-modules/portable-home/make-portable-home/home-manager-package.nix
  flake.lock
Due: none

stuff
  dotfiles/neovim/lua/terminal/misc.lua
  dotfiles/neovim/lua/vscode.lua
Due: codegen-neovim

chore: upgrade tools
  flake.lock
Due: none

cleanup
  dotfiles/neovim/lua/base/motions-and-textobjects.lua
  dotfiles/neovim/lua/base/searching.lua
  dotfiles/neovim/lua/terminal/misc.lua
  dotfiles/neovim/lua/vscode.lua
Due: codegen-neovim

fix fold navigation
  dotfiles/neovim/lua/base/motions-and-textobjects.lua
  dotfiles/neovim/lua/vscode.lua
Due: codegen-neovim

add back
  dotfiles/fish/conf.d/transient-prompt.fish
  dotfiles/neovim/lua/base/mini.lua
  dotfiles/neovim/lua/base/operators.lua
  dotfiles/neovim/lua/terminal/aesthetic/colorschemes/light_and_dark.lua
  dotfiles/neovim/lua/terminal/git.lua
  dotfiles/neovim/lua/terminal/init.lua
  dotfiles/neovim/lua/terminal/statusbars/init.lua
  dotfiles/neovim/lua/terminal/statusbars/statuscolumn.lua
  dotfiles/neovim/lua/terminal/statusbars/winbar.lua
  dotfiles/neovim/lua/vscode.lua
  dotfiles/neovim/plugin-names.txt
  dotfiles/tmux/bin/tmux-attach-to-project
  dotfiles/tmux/tmux.fish
  flake.lock
  flake.nix
Due: codegen-neovim

chore: upgrade tools
  dotfiles/fish/conf.d/brew.fish
  dotfiles/fish/conf.d/general.fish
  dotfiles/neovim/lua/terminal/aesthetic/colorschemes/light_and_dark.lua
  flake-modules/home-manager/modules/fzf.nix
  flake-modules/home-manager/modules/general.nix
  flake-modules/home-manager/modules/git.nix
  flake-modules/home-manager/modules/nix.nix
  flake-modules/home-manager/modules/tmux.nix
  flake-modules/overlay/misc.nix
  flake.lock
Due: codegen-neovim

chore: upgrade tools
  dotfiles/fzf/fzf-default-opts.fish
  flake-modules/overlay/misc.nix
  flake.lock
  flake.nix
Due: none

no resurrect
  dotfiles/fish/conf.d/fish.fish
  dotfiles/fish/config.fish
  dotfiles/fish/figlet/smblock.tlf
  dotfiles/general/bin/elevate
  dotfiles/neovim/lua/base/mini.lua
  dotfiles/neovim/lua/terminal/aesthetic/colorschemes/light_and_dark.lua
  dotfiles/neovim/lua/terminal/windows.lua
  dotfiles/neovim/lua/vscode.lua
  dotfiles/tmux/tmux.conf
  dotfiles/tmux/tmux.fish
  flake-modules/bundler/gozip/go.mod
  flake-modules/bundler/gozip/go.sum
  flake-modules/bundler/gozip/gomod2nix.toml
  flake-modules/home-manager/modules/fish.nix
  flake-modules/home-manager/modules/tmux.nix
  flake-modules/portable-home/make-portable-home/make-bootstrap-script.nix
  flake.lock
  flake.nix
Due: codegen-neovim, go-mod-tidy

configure macOS system shortcuts
  README.md
  dotfiles/fish/conf.d/fish.fish
  dotfiles/neovim/lua/base/mini.lua
  dotfiles/neovim/lua/terminal/telescope.lua
  dotfiles/neovim/lua/terminal/windows.lua
  dotfiles/neovim/lua/vscode.lua
  dotfiles/skhd/skhdrc
  dotfiles/tmux/tmux.conf
  flake.lock
  flake.nix
Due: codegen-readme, codegen-neovim

explicit deps
  flake-modules/nix-darwin/modules/profile/base.nix
  flake-modules/nix-darwin/modules/skhd.nix
  flake-modules/nix-darwin/modules/system-settings.nix
  flake-modules/nix-darwin/modules/yabai.nix
Due: none

install hammerspoon through homebrew
  README.md
  dotfiles/neovim/lua/vscode.lua
  flake-modules/nix-darwin/modules/homebrew.nix
Due: codegen-readme, codegen-neovim

remove stuff
  dotfiles/bat/ansi.tmTheme
  dotfiles/bat/config
  dotfiles/firefox-developer-edition/finicky/finicky.js
  dotfiles/fish/conf.d/widgets.fish
  dotfiles/gnome/night-theme-switcher-fix.sh
  dotfiles/gnome/theme-sync.desktop
  dotfiles/python/ipython/startup/autotime.py
  dotfiles/python/pip/pip.conf
  flake-modules/home-manager/modules/bat.nix
  flake-modules/home-manager/modules/firefox-developer-edition.nix
  flake-modules/home-manager/modules/fish.nix
  flake-modules/home-manager/modules/gnome-theme-fix.nix
  flake-modules/home-manager/modules/profile/application-development.nix
  flake-modules/home-manager/modules/profile/personal.nix
  flake-modules/home-manager/modules/profile/system-administration.nix
  flake-modules/home-manager/modules/ripgrep-all.nix
  flake-modules/overlay/misc.nix
  flake-modules/portable-home/make-portable-home/make-bootstrap-script.nix
Due: none

name change
  .github/run.sh
  .github/workflows/cache-build-results.yml
  .github/workflows/publish-shell-executable.yml
  .ignore
  .justfile
  .vscode/ltex.dictionary.en-US.txt
  COPYING.txt
  README.md
  dotfiles/direnv/direnv.toml
  dotfiles/nix/nix-fix/install-nix-fix.bash
  dotfiles/nix/systemd-garbage-collection/install.bash
  dotfiles/smart_plug/linux/install.bash
  dotfiles/ssh/bootstrap.sh
  flake-modules/home-manager/default.nix
  flake-modules/home-manager/modules/nix.nix
  flake-modules/nix-darwin/default.nix
Due: codegen-readme

use RGB colors for broot
  .editorconfig
  .github/workflows/publish-shell-executable.yml
  README.md
  dotfiles/broot/conf.hjson
  dotfiles/broot/dark.hjson
  dotfiles/broot/light.hjson
  dotfiles/git/config
  dotfiles/neovim/lua/vscode.lua
  dotfiles/wezterm/wezterm.lua
  flake-modules/home-manager/modules/profile/system-administration.nix
  sgconfig.yml
Due: codegen-readme, codegen-neovim

comment
  .github/workflows/publish-shell-executable.yml
  flake-modules/home-manager/modules/profile/system-administration.nix
Due: none

remove colors past 16
  dotfiles/git/config
  dotfiles/wezterm/wezterm.lua
Due: none

builtin string matching
  dotfiles/default-shells/login-config.sh
  dotfiles/fish/conf.d/general.fish
  dotfiles/fish/config.fish
Due: none

remove login config
  README.md
  dotfiles/default-shells/README.md
  dotfiles/default-shells/bash_profile.bash
  dotfiles/default-shells/bashrc.bash
  dotfiles/default-shells/login-config.sh
  dotfiles/default-shells/zlogin.zsh
  dotfiles/default-shells/zshrc.zsh
  dotfiles/general/bin/default-shell
  dotfiles/neovim/lua/terminal/aesthetic/colorschemes/light_and_dark.lua
  dotfiles/nix/set-locale-variable.bash
  flake-modules/home-manager/modules/default-shells.nix
  flake-modules/home-manager/modules/fish.nix
  flake-modules/home-manager/modules/fzf.nix
  flake-modules/home-manager/modules/general.nix
  flake-modules/home-manager/modules/git.nix
  flake-modules/home-manager/modules/nix.nix
  flake-modules/home-manager/modules/tmux.nix
  flake-modules/nix-darwin/modules/homebrew.nix
  flake-modules/nix-darwin/modules/nix-darwin.nix
  flake-modules/nix-darwin/modules/profile/base.nix
  flake-modules/nix-darwin/modules/system-settings.nix
  flake-modules/nix-darwin/modules/utilities.nix
  flake-modules/portable-home/make-portable-home/make-bootstrap-script.nix
Due: codegen-readme, codegen-neovim

stuff
  README.md
  dotfiles/fish/conf.d/prompt.fish
  dotfiles/neovim/lua/terminal/lsp.lua
  flake-modules/portable-home/make-portable-home/make-bootstrap-script.nix
Due: codegen-readme, codegen-neovim

stuff - fix terminfo on portable home - reduce `switch` time from ~2.5 minutes to 30 seconds by only recursively linking when necessary
  flake-modules/home-manager/modules/fish.nix
  flake-modules/home-manager/modules/general.nix
  flake-modules/home-manager/modules/keyboard-shortcuts.nix
  flake-modules/home-manager/modules/neovim.nix
  flake-modules/home-manager/modules/profile/application-development.nix
  flake-modules/home-manager/modules/profile/system-administration.nix
  flake-modules/home-manager/modules/wezterm.nix
  flake-modules/overlay/misc.nix
  flake-modules/portable-home/default.nix
  flake-modules/portable-home/make-portable-home/home-manager-package.nix
Due: none

chore: upgrade tools
  dotfiles/default-shells/bashrc.bash
  dotfiles/default-shells/zshrc.zsh
  dotfiles/fish/conf.d/fish.fish
  dotfiles/fish/conf.d/ssh.fish
  dotfiles/smart_plug/mac_os/Speakers.spoon/init.lua
  dotfiles/ssh/bootstrap.sh
  dotfiles/tmux/tmux.conf
  flake-modules/home-manager/modules/profile/application-development.nix
  flake.lock
Due: none

turn plug on and off automatically on macOS
  dotfiles/default-shells/bashrc.bash
  dotfiles/smart_plug/mac_os/Speakers.spoon/init.lua
  flake-modules/dev-shell.nix
Due: none

always move by screen line
  dotfiles/neovim/lua/base/motions-and-textobjects.lua
  dotfiles/neovim/lua/terminal/misc.lua
Due: codegen-neovim

stop using deprecated runner
  .github/workflows/cache-build-results.yml
Due: none

less color
  dotfiles/neovim/lua/terminal/aesthetic/colorschemes/light_and_dark.lua
Due: codegen-neovim
