Repository grahamc/system-configurations: changes, and which lefthook commands are due for each by the changed paths.
All: codegen-readme, codegen-neovim, go-mod-tidy

.lefthook.yml:

# By default lefthook uses true colors (e.g. #FFFFFF), but they may not be readable depending on
# the terminal background color. Instead I'm using ANSI colors since they come from the terminal's
# color palette.
colors:
  cyan: 6
  gray: 8
  green: 2
  red: 1
  yellow: 3

output: false

pre-commit:
  piped: true
  commands:
    codegen-readme:
      priority: 1
      glob: "README.md"
      run: DIRENV_LOG_FORMAT='' direnv exec "$PWD" just codegen-readme
    codegen-neovim:
      priority: 1
      glob: "*neovim/lua/*.lua"
      run: DIRENV_LOG_FORMAT='' direnv exec "$PWD" just codegen-neovim
    go-mod-tidy:
      priority: 1
      glob: "*gozip/*"
      run: DIRENV_LOG_FORMAT='' direnv exec "$PWD" just go-mod-tidy
    format:
      priority: 2
      run: DIRENV_LOG_FORMAT='' direnv exec "$PWD" just format

post-merge:
  scripts:
    "post-merge.bash":
      runner: DIRENV_LOG_FORMAT='' direnv exec "$PWD" bash
      interactive: true

post-rewrite:
  scripts:
    "post-rewrite.bash":
      runner: DIRENV_LOG_FORMAT='' direnv exec "$PWD" bash
      interactive: true

extend sudo timeout
  flake-modules/nix-darwin/modules/system-settings.nix
Due: none

chore: upgrade tools
  flake.lock
Due: none

fix
  dotfiles/neovim/lua/base/motions-and-textobjects.lua
Due: codegen-neovim

fix
  flake-modules/nix-darwin/modules/utilities.nix
Due: none

fix collision
  dotfiles/neovim/init.lua
  dotfiles/neovim/lua/_vscode.lua
Due: codegen-neovim

remove stuff
  dotfiles/neovim/lua/terminal/autocomplete.lua
  dotfiles/neovim/lua/terminal/file-explorer.lua
  dotfiles/neovim/lua/terminal/init.lua
  dotfiles/neovim/lua/terminal/lsp.lua
  dotfiles/neovim/lua/terminal/quickfix.lua
  dotfiles/neovim/plugin-names.txt
  flake.lock
  flake.nix
Due: codegen-neovim

remove stuff
  dotfiles/neovim/lua/terminal/aesthetic/colorschemes/light_and_dark.lua
  dotfiles/neovim/lua/terminal/discovery.lua
  dotfiles/neovim/lua/terminal/init.lua
  dotfiles/neovim/lua/terminal/lsp.lua
  dotfiles/neovim/lua/terminal/misc.lua
  dotfiles/neovim/lua/terminal/statusbars/init.lua
  dotfiles/neovim/lua/terminal/statusbars/statusline.lua
  dotfiles/neovim/lua/terminal/statusbars/tabline.lua
  dotfiles/neovim/lua/terminal/telescope.lua
  dotfiles/neovim/lua/terminal/utilities.lua
  dotfiles/neovim/plugin-names.txt
  flake.lock
  flake.nix
Due: codegen-neovim

remove more
  dotfiles/neovim/lua/terminal/aesthetic/misc.lua
  dotfiles/neovim/lua/terminal/notifications.lua
  dotfiles/neovim/lua/terminal/windows.lua
  flake-modules/overlay/misc.nix
Due: codegen-neovim

fix
  dotfiles/smart_plug/mac_os/Speakers.spoon/init.lua
Due: none

stuff
  dotfiles/fish/conf.d/fish.fish
  dotfiles/neovim/lua/terminal/lsp.lua
Due: codegen-neovim

listent to more events for turning on/off speakers
  dotfiles/smart_plug/mac_os/Speakers.spoon/init.lua
Due: none

colors
  dotfiles/neovim/lua/terminal/aesthetic/colorschemes/light_and_dark.lua
Due: codegen-neovim

chore: upgrade tools
  dotfiles/fish/conf.d/general.fish
  flake.lock
Due: none

chore: upgrade tools
  .envrc
  .github/workflows/cache-build-results.yml
  .github/workflows/publish-shell-executable.yml
  .justfile
  .lefthook.yml
  dotfiles/fish/conf.d/widgets.fish
  dotfiles/fzf/bin/fzf-help-preview
  dotfiles/fzf/fzf-default-opts.fish
  dotfiles/neovim/lua/terminal/aesthetic/colorschemes/light_and_dark.lua
  dotfiles/neovim/lua/terminal/discovery.lua
  dotfiles/smart_plug/.vscode/launch.json
  dotfiles/smart_plug/mac_os/Speakers.spoon/init.lua
  dotfiles/wezterm/wezterm.lua
  flake-modules/nix-darwin/modules/homebrew.nix
  flake.lock
Due: codegen-neovim

stuff
  dotfiles/fish/conf.d/general.fish
Due: none

remove
  dotfiles/neovim/lua/terminal/lsp.lua
  dotfiles/neovim/lua/terminal/misc.lua
  dotfiles/neovim/lua/terminal/windows.lua
  flake.lock
  flake.nix
Due: codegen-neovim

stuff
  .github/run.sh
  .justfile
  dotfiles/neovim/lua/terminal/misc.lua
  dotfiles/neovim/lua/terminal/windows.lua
  flake.lock
  flake.nix
  treefmt.toml
Due: codegen-neovim

more
  .justfile
  dotfiles/hammerspoon/init.lua
  dotfiles/neovim/plugin-names.txt
  flake.lock
Due: none

chore: upgrade tools
  dotfiles/neovim/lua/terminal/aesthetic/colorschemes/light_and_dark.lua
  dotfiles/neovim/lua/terminal/pager.lua
  dotfiles/neovim/lua/terminal/statusbars/init.lua
  dotfiles/neovim/lua/terminal/statusbars/winbar.lua
  dotfiles/neovim/plugin-names.txt
  dotfiles/yabai/yabairc
  flake.lock
Due: codegen-neovim

make directory first
  .justfile
Due: none

stuff
  dotfiles/firefox-developer-edition/my-firefox
  dotfiles/smart_plug/linux/install.bash
  dotfiles/smart_plug/linux/smart-plug-daemon.py
  dotfiles/smart_plug/linux/smart-plug-daemon.service
  dotfiles/smart_plug/linux/smart-plug.service
  dotfiles/smart_plug/linux/turn-off-speakers
  dotfiles/smart_plug/smart_plug.py
  dotfiles/wezterm/wezterm.lua
  flake-modules/smart-plug.nix
Due: none

set keyboard to mac mode
  README.md
  dotfiles/linux/set-keyboard-to-mac-mode.sh
Due: codegen-readme

stuff
  README.md
  dotfiles/cosmic/v1-shortcuts
  dotfiles/firefox-developer-edition/about-config-changes.txt
  dotfiles/firefox-developer-edition/set-default-browser.sh
  dotfiles/flatpak/overrides/global
  dotfiles/keyd/TODO.md
  dotfiles/keyd/default.conf
  dotfiles/keyd/install.bash
  dotfiles/nix/bigolu-nix-locale-variable.sh
  dotfiles/wezterm/wezterm.lua
  flake-modules/assign-inputs-to-host-managers.nix
  flake-modules/home-manager/modules/git.nix
  flake-modules/home-manager/modules/home-manager.nix
  flake-modules/home-manager/modules/keyboard-shortcuts.nix
  flake-modules/home-manager/modules/profile/base.nix
  flake-modules/home-manager/modules/wezterm.nix
  flake.lock
  flake.nix
Due: codegen-readme

magic
  .github/workflows/cache-build-results.yml
Due: none

more stuff
  .github/workflows/cache-build-results.yml
  .github/workflows/publish-shell-executable.yml
  README.md
  dotfiles/keyd/default.conf
Due: codegen-readme

test turning off cachix
  .github/workflows/cache-build-results.yml
  flake.nix
Due: none

lint
  README.md
Due: codegen-readme

Revert "test turning off cachix"
  .github/workflows/cache-build-results.yml
  flake.nix
Due: none

try priority 1
  .github/workflows/cache-build-results.yml
Due: none

no magic
  .github/workflows/cache-build-results.yml
Due: none

simple theme
  dotfiles/neovim/lua/terminal/aesthetic/colorschemes/light_and_dark.lua
  dotfiles/neovim/lua/terminal/autocomplete.lua
  dotfiles/neovim/lua/terminal/lsp.lua
  dotfiles/neovim/lua/terminal/statusbars/statusline.lua
Due: codegen-neovim

new tiling keymaps
  dotfiles/skhd/skhdrc
Due: none

fix
  flake-modules/home-manager/modules/profile/base.nix
Due: none

stuff
  .justfile
  README.md
  dotfiles/firefox-developer-edition/set-default-browser.sh
  dotfiles/neovim/lua/terminal/aesthetic/colorschemes/light_and_dark.lua
  dotfiles/neovim/lua/terminal/statusbars/statusline.lua
  dotfiles/nix/bin/nix-upgrade-profiles
  flake-modules/home-manager/modules/firefox-developer-edition.nix
  flake-modules/home-manager/modules/tmux.nix
  flake-modules/nix-darwin/modules/system-settings.nix
Due: codegen-readme, codegen-neovim

base packages
  .justfile
  dotfiles/cosmic/v1-shortcuts
  dotfiles/nix/bin/nix-upgrade-profiles
Due: none
