Repository grahamc/system-configurations: changes, and which lefthook commands are due for each by the changed paths.
All: codegen-readme, codegen-neovim

codegen-readme:
  priority: 1
  run: direnv exec "$PWD" just codegen-readme

codegen-neovim:
  priority: 1
  run: direnv exec "$PWD" just codegen-neovim

more misc.
  .stylua.toml
  dotfiles/fish/conf.d/fish.fish
  dotfiles/general/executables/conform.bash
  dotfiles/login-shell/bashrc.bash
  dotfiles/login-shell/zshrc.zsh
  dotfiles/neovim/lua/base/mini.lua
  dotfiles/neovim/lua/base/misc.lua
  dotfiles/neovim/lua/base/operators.lua
  dotfiles/neovim/lua/base/treesitter.lua
  dotfiles/neovim/lua/terminal/aesthetic/colorschemes/light_and_dark.lua
  dotfiles/neovim/lua/terminal/lsp/misc.lua
  dotfiles/neovim/lua/terminal/misc.lua
  dotfiles/neovim/plugin-names.txt
  dotfiles/smart_plug/smart_plug.py
  flake-modules/home-manager/modules/general.nix
  flake-modules/home-manager/modules/neovim.nix
  flake.lock
  flake.nix
  treefmt.toml
Due: codegen-neovim

misc.
  dotfiles/neovim/lua/base/autocomplete.lua
  dotfiles/neovim/lua/base/init.lua
  dotfiles/neovim/lua/browser.lua
  dotfiles/neovim/lua/plug.lua
  dotfiles/neovim/lua/terminal/autocomplete.lua
  dotfiles/neovim/lua/terminal/drawer.lua
  dotfiles/neovim/lua/terminal/misc.lua
  dotfiles/neovim/lua/terminal/statusbars/winbar.lua
Due: codegen-neovim

perf
  dotfiles/neovim/init.lua
  dotfiles/neovim/lua/base/autocomplete.lua
  dotfiles/neovim/lua/base/mini.lua
  dotfiles/neovim/lua/base/misc.lua
  dotfiles/neovim/lua/base/motions-and-textobjects.lua
  dotfiles/neovim/lua/base/operators.lua
  dotfiles/neovim/lua/base/treesitter.lua
  dotfiles/neovim/lua/terminal/autocomplete.lua
  dotfiles/neovim/lua/terminal/discovery.lua
  dotfiles/neovim/lua/terminal/drawer.lua
  dotfiles/neovim/lua/terminal/file-explorer.lua
  dotfiles/neovim/lua/terminal/git.lua
  dotfiles/neovim/lua/terminal/init.lua
  dotfiles/neovim/lua/terminal/misc.lua
  dotfiles/neovim/lua/terminal/statusbars/statusline.lua
  flake-modules/dev-shell.nix
Due: codegen-neovim

misc.
  .gitignore
  dotfiles/fish/conf.d/brew.fish
  dotfiles/login-shell/profile.sh
  dotfiles/neovim/lua/base/autocomplete.lua
  dotfiles/neovim/lua/base/mini.lua
  dotfiles/neovim/lua/base/misc.lua
  dotfiles/neovim/lua/base/motions-and-textobjects.lua
  dotfiles/neovim/lua/base/operators.lua
  dotfiles/neovim/lua/base/treesitter.lua
  dotfiles/neovim/lua/base/utilities.lua
  dotfiles/neovim/lua/terminal/aesthetic/colorschemes/light_and_dark.lua
  dotfiles/neovim/lua/terminal/aesthetic/cursor.lua
  dotfiles/neovim/lua/terminal/autocomplete.lua
  dotfiles/neovim/lua/terminal/call-hierarchy.lua
  dotfiles/neovim/lua/terminal/discovery.lua
  dotfiles/neovim/lua/terminal/drawer.lua
  dotfiles/neovim/lua/terminal/file-explorer.lua
  dotfiles/neovim/lua/terminal/folds/misc.lua
  dotfiles/neovim/lua/terminal/git.lua
  dotfiles/neovim/lua/terminal/init.lua
  dotfiles/neovim/lua/terminal/lsp/misc.lua
  dotfiles/neovim/lua/terminal/lsp/server-settings.lua
  dotfiles/neovim/lua/terminal/misc.lua
  dotfiles/neovim/lua/terminal/quickfix.lua
  dotfiles/neovim/lua/terminal/statusbars/tabline.lua
  dotfiles/neovim/lua/terminal/statusbars/winbar.lua
  dotfiles/neovim/plugin-names.txt
  dotfiles/ssh/myssh.sh
  dotfiles/tmux/tmux.conf
  flake-modules/home-manager/modules/neovim.nix
  flake-modules/overlay/misc.nix
  flake.lock
  flake.nix
Due: codegen-neovim

misc.
  dotfiles/neovim/lua/base/operators.lua
  dotfiles/neovim/lua/terminal/autocomplete.lua
  dotfiles/neovim/lua/terminal/file-explorer.lua
  dotfiles/neovim/lua/terminal/git.lua
  dotfiles/neovim/lua/terminal/quickfix.lua
  dotfiles/neovim/lua/terminal/telescope.lua
  dotfiles/neovim/lua/terminal/tools.lua
  dotfiles/neovim/lua/terminal/utilities.lua
  dotfiles/neovim/plugin-names.txt
  flake.lock
  flake.nix
Due: codegen-neovim

upgrade
  dotfiles/neovim/lua/base/autocomplete.lua
  dotfiles/neovim/lua/terminal/autocomplete.lua
  dotfiles/neovim/lua/terminal/lsp/misc.lua
  dotfiles/neovim/plugin-names.txt
  flake.lock
  flake.nix
Due: codegen-neovim

misc.
  dotfiles/neovim/lua/base/autocomplete.lua
  dotfiles/neovim/lua/terminal/misc.lua
  dotfiles/neovim/lua/terminal/statusbars/winbar.lua
Due: codegen-neovim

misc.
  dotfiles/neovim/lua/terminal/quickfix.lua
  dotfiles/neovim/lua/terminal/statusbars/winbar.lua
Due: codegen-neovim

(bat) underline the highlighted line
  dotfiles/bat/ansi.tmTheme
  dotfiles/bat/config
  dotfiles/git/gitconfig
  flake-modules/home-manager/modules/bat.nix
Due: none

vscode stuff
  dotfiles/fish/config.fish
  dotfiles/neovim/lua/base/treesitter.lua
  dotfiles/neovim/lua/vscode.lua
Due: codegen-neovim

misc.
  dotfiles/git/config
  dotfiles/neovim/lua/base/filetype-settings.lua
  dotfiles/neovim/lua/base/motions-and-textobjects.lua
  dotfiles/neovim/lua/base/operators.lua
  dotfiles/neovim/lua/terminal/file-explorer.lua
  dotfiles/neovim/lua/terminal/lsp/file-watcher.lua
  dotfiles/neovim/lua/terminal/lsp/init.lua
  dotfiles/neovim/lua/terminal/lsp/misc.lua
  dotfiles/neovim/lua/terminal/lsp/server-settings.lua
  dotfiles/neovim/lua/terminal/misc.lua
  dotfiles/neovim/lua/terminal/statusbars/tabline.lua
  flake-modules/home-manager/modules/git.nix
  flake-modules/overlay/misc.nix
  flake.lock
  flake.nix
Due: codegen-neovim

(neovim) fix folds
  dotfiles/neovim/init.lua
  dotfiles/neovim/lua/terminal/folds/folding-nvim.lua
  dotfiles/neovim/lua/terminal/folds/misc.lua
Due: codegen-neovim

(default-shells) stuff
  .vscode/ltex.dictionary.en-US.txt
  dotfiles/default-shells/README.md
  dotfiles/default-shells/bash_profile.bash
  dotfiles/default-shells/bashrc.bash
  dotfiles/default-shells/login-config.sh
  dotfiles/default-shells/zlogin.zsh
  dotfiles/default-shells/zshrc.zsh
  dotfiles/fish/conf.d/00-login.fish
  dotfiles/login-shell/bash_profile.bash
  dotfiles/login-shell/bashrc.bash
  dotfiles/login-shell/zprofile.zsh
  dotfiles/smart_plug/mac_os/Speakers.spoon/init.lua
  flake-modules/home-manager/modules/default-shells.nix
  flake-modules/home-manager/modules/login-shell.nix
  flake-modules/home-manager/modules/profile/base.nix
  flake-modules/home-manager/modules/tmux.nix
Due: none

misc.
  dotfiles/broot/conf.hjson
  dotfiles/default-shells/README.md
  dotfiles/default-shells/login-config.sh
  dotfiles/fish/conf.d/00-login.fish
  dotfiles/fish/conf.d/general.fish
  dotfiles/fish/conf.d/widgets.fish
  dotfiles/general/executables/edit
  dotfiles/git/subcommands/git-http-to-ssh
  dotfiles/neovim/init.lua
  dotfiles/neovim/lua/plug.lua
  dotfiles/neovim/lua/terminal/lsp/misc.lua
  dotfiles/neovim/lua/terminal/misc.lua
  dotfiles/neovim/lua/terminal/pager.lua
  dotfiles/neovim/lua/terminal/quickfix.lua
  dotfiles/smart_plug/mac_os/Speakers.spoon/init.lua
  dotfiles/tmux/tmux-click-url.py
  dotfiles/tmux/tmux.conf
  flake-modules/home-manager/modules/general.nix
Due: codegen-neovim

misc.
  .justfile
  dotfiles/fish/conf.d/fish.fish
  dotfiles/fish/conf.d/general.fish
  dotfiles/general/executables/edit
  dotfiles/general/executables/pbcopy
  dotfiles/general/executables/trash-linux.sh
  dotfiles/general/executables/trash-macos.py
  dotfiles/neovim/init.lua
  dotfiles/neovim/lua/base/autocomplete.lua
  dotfiles/neovim/lua/base/mini.lua
  dotfiles/neovim/lua/terminal/aesthetic/system-theme-syncer.lua
  dotfiles/neovim/lua/terminal/autocomplete.lua
  dotfiles/neovim/lua/terminal/file-explorer.lua
  dotfiles/neovim/lua/terminal/misc.lua
  dotfiles/neovim/lua/terminal/quickfix.lua
  dotfiles/neovim/lua/terminal/utilities.lua
  flake-modules/home-manager/modules/general.nix
  flake-modules/overlay/plugins/vim-plugins.nix
  flake-modules/portable-home/default.nix
  flake-modules/portable-home/make-shell/default.nix
  flake-modules/portable-home/make-shell/home-manager-package.nix
  flake-modules/portable-home/make-shell/shell-bootstrap-script.nix
  flake.lock
Due: codegen-neovim

fixes from linux
  .justfile
  dotfiles/fish/conf.d/general.fish
  dotfiles/fish/config.fish
  dotfiles/general/executables/trash-linux.sh
  dotfiles/neovim/lua/terminal/aesthetic/system-theme-syncer.lua
  dotfiles/neovim/plugin-names.txt
  dotfiles/wezterm/wezterm.lua
  flake-modules/home-manager/modules/general.nix
  flake-modules/home-manager/modules/utility/vim-plug.nix
  flake-modules/home-manager/modules/wezterm.nix
Due: codegen-neovim

misc.
  dotfiles/fish/conf.d/fish.fish
  dotfiles/fish/conf.d/general.fish
  dotfiles/fish/conf.d/prompt.fish
  dotfiles/fish/conf.d/widgets.fish
  dotfiles/neovim/lua/base/treesitter.lua
  dotfiles/neovim/lua/plug.lua
  dotfiles/neovim/lua/terminal/notifications.lua
Due: codegen-neovim

misc.
  .justfile
  dotfiles/fish/config.fish
  dotfiles/general/executables/default-shell.sh
  dotfiles/neovim/lua/base/treesitter.lua
  dotfiles/tmux/tmux.conf
  flake-modules/home-manager/modules/general.nix
Due: codegen-neovim

more fixes
  dotfiles/firefox-developer-edition/about-config-changes.txt
  dotfiles/fish/conf.d/general.fish
  dotfiles/fish/conf.d/widgets.fish
  dotfiles/fish/config.fish
  dotfiles/general/executables/elevate.fish
  dotfiles/neovim/lua/terminal/file-explorer.lua
  dotfiles/nix/nix-fix/install-nix-fix.bash
  dotfiles/nix/nix-fix/zz-nix-fix.fish
  dotfiles/python/ipython/startup/general.ipy
  dotfiles/smart_plug/linux/.vscode/launch.json
  dotfiles/smart_plug/linux/.vscode/settings.json
  dotfiles/smart_plug/linux/smart-plug-daemon.py
  dotfiles/smart_plug/smart_plug.py
  dotfiles/tmux/tmux.conf
  dotfiles/wezterm/wezterm.lua
  flake-modules/home-manager/modules/general.nix
  flake-modules/home-manager/modules/keyboard-shortcuts.nix
  flake-modules/home-manager/modules/nix.nix
  flake-modules/overlay/misc.nix
Due: codegen-neovim

more fixes
  .envrc
  flake-modules/home-manager/modules/nix.nix
Due: none

fixes
  dotfiles/neovim/lua/base/autocomplete.lua
  flake-modules/home-manager/modules/nix.nix
Due: codegen-neovim

xdg for ipython
  flake-modules/home-manager/modules/profile/application-development.nix
Due: none

misc.
  dotfiles/neovim/lua/base/operators.lua
  dotfiles/neovim/lua/terminal/aesthetic/colorschemes/light_and_dark.lua
  dotfiles/neovim/lua/terminal/lsp/misc.lua
  dotfiles/neovim/lua/terminal/quickfix.lua
  dotfiles/neovim/lua/terminal/tools.lua
  dotfiles/neovim/lua/terminal/utilities.lua
  dotfiles/nix/nix-fix/zz-nix-fix.fish
Due: codegen-neovim

ls icon tweak
  dotfiles/fish/conf.d/general.fish
  dotfiles/lsd/config.yaml
  dotfiles/lsd/icons.yaml
Due: none

misc.
  dotfiles/fish/conf.d/fish.fish
  dotfiles/fish/conf.d/general.fish
  dotfiles/fish/conf.d/widgets.fish
  dotfiles/fzf/fzf.fish
  dotfiles/neovim/lua/terminal/aesthetic/colorschemes/light_and_dark.lua
  flake.nix
Due: codegen-neovim

fzf toggles
  dotfiles/fzf/fzf-help-preview
  dotfiles/fzf/fzf.fish
Due: none

stuff
  dotfiles/default-shells/bashrc.bash
  dotfiles/fish/conf.d/fish.fish
  dotfiles/fish/conf.d/general.fish
  dotfiles/fish/conf.d/widgets.fish
  dotfiles/fish/config.fish
  dotfiles/fzf/fzf-default-opts.fish
  dotfiles/fzf/fzf-wrapper.fish
  dotfiles/neovim/lua/terminal/file-explorer.lua
  dotfiles/neovim/lua/vscode.lua
  flake-modules/home-manager/modules/fzf.nix
  sgconfig.yml
Due: codegen-neovim

stuff
  dotfiles/fish/conf.d/widgets.fish
  dotfiles/fzf/fzf-default-opts.fish
  dotfiles/neovim/lua/base/autocomplete.lua
Due: codegen-neovim

more stuff
  README.md
  dotfiles/default-shells/login-config.sh
  dotfiles/fish/conf.d/general.fish
  dotfiles/fish/conf.d/prompt.fish
  dotfiles/fish/conf.d/widgets.fish
  dotfiles/fish/config.fish
  dotfiles/fzf/fzf-wrapper.fish
  dotfiles/hammerspoon/init.lua
  dotfiles/neovim/lua/base/operators.lua
  dotfiles/neovim/lua/terminal/aesthetic/colorschemes/light_and_dark.lua
  dotfiles/neovim/lua/terminal/aesthetic/cursor.lua
  dotfiles/neovim/lua/terminal/discovery.lua
  dotfiles/neovim/lua/terminal/quickfix.lua
  dotfiles/neovim/lua/terminal/statusbars/statusline.lua
  dotfiles/neovim/lua/terminal/statusbars/tabline.lua
  dotfiles/neovim/plugin-names.txt
  dotfiles/smart_plug/.vscode/launch.json
  dotfiles/smart_plug/.vscode/settings.json
  dotfiles/tmux/tmux-click-url.py
  dotfiles/tmux/tmux.conf
  flake-modules/home-manager/modules/tmux.nix
  flake-modules/portable-home/make-shell/shell-bootstrap-script.nix
  flake.lock
  flake.nix
Due: codegen-readme, codegen-neovim

misc.
  dotfiles/fish/conf.d/apt.fish
  dotfiles/fish/conf.d/brew.fish
  dotfiles/fish/conf.d/fish.fish
  dotfiles/fish/conf.d/general.fish
  dotfiles/fish/conf.d/widgets.fish
  dotfiles/neovim/lua/base/motions-and-textobjects.lua
  dotfiles/ssh/myssh.sh
  flake-modules/home-manager/modules/wezterm.nix
Due: codegen-neovim

workflows
  .github/workflows/cache-build-results.yml
  .github/workflows/publish-shell-executable.yml
  dotfiles/general/executables/default-shell.sh
  dotfiles/tmux/tmux.fish
  flake-modules/nix-darwin/modules/yabai.nix
  flake-modules/portable-home/make-shell/default.nix
  flake-modules/portable-home/make-shell/shell-bootstrap-script.nix
  flake.lock
Due: none

tag
  .github/workflows/cache-build-results.yml
Due: none

fix: use the version of nix in my flake for building
  .github/workflows/cache-build-results.yml
  .github/workflows/publish-shell-executable.yml
  .justfile
  flake-modules/bootstrap.nix
  flake-modules/cache.nix
Due: none

fixes
  dotfiles/tmux/tmux.fish
  flake-modules/home-manager/modules/wezterm.nix
  flake-modules/portable-home/make-shell/shell-bootstrap-script.nix
Due: none

chore: upgrade tools
  flake.lock
  flake.nix
Due: none

pin macos for yabai
  .github/workflows/cache-build-results.yml
Due: none

don't prompt
  dotfiles/fish/conf.d/prompt.fish
  dotfiles/tmux/tmux.fish
Due: none

fix portable terminal on linux
  .github/workflows/cache-build-results.yml
  .github/workflows/publish-shell-executable.yml
  .justfile
  .vscode/ltex.dictionary.en-US.txt
  README.md
  dotfiles/general/executables/process-output
  dotfiles/neovim/lua/terminal/autocomplete.lua
  flake-modules/assign-inputs-to-host-managers.nix
  flake-modules/home-manager/modules/home-manager.nix
  flake-modules/nix-darwin/modules/nix-darwin.nix
  flake-modules/overlay/default.nix
  flake-modules/overlay/misc.nix
  flake-modules/overlay/pinned-versions.nix
  flake-modules/portable-home/default.nix
  flake.lock
  flake.nix
  tests.bash
Due: codegen-readme, codegen-neovim

Path conditions:
  codegen-readme: any of: README.md
  codegen-neovim: any of: *neovim/lua/*.lua
