Repository grahamc/system-configurations: changes, and which lefthook commands are due for each by the changed paths.
All: generate-toc-readme, fix-nix

.lefthook.yml:

colors:
  cyan: 6
  gray: 8
  green: 2
  red: 1
  yellow: 3

pre-commit:
  commands:
    generate-toc-readme:
      glob: "README.md"
      run: just generate-toc
    fix-nix:
      glob: "*.nix"
      run: just fix-nix {staged_files}

run treefmt on precommit
  .editorconfig
  .lefthook.yml
  flake-modules/dev-shell.nix
  justfile
  treefmt.toml
Due: fix-nix

fish promptfix
  dotfiles/fish/conf.d/prompt.fish
Due: none

use alejandra instead of nixfmt
  flake-modules/dev-shell.nix
  treefmt.toml
Due: fix-nix

(lefthook) set task order
  .lefthook.yml
Due: none

format
  README.md
Due: generate-toc-readme

fix lefthook task order
  .lefthook.yml
Due: none

rename justfile
  .justfile
Due: none

fix
  flake-modules/portable-home/shell/default.nix
Due: fix-nix

swap watchman for watchexec
  dotfiles/watchman/watchman.json
  flake-modules/home-manager/modules/profile/application-development.nix
  flake-modules/home-manager/modules/profile/system-administration.nix
Due: fix-nix

fix
  .editorconfig
Due: none

(nix) check for untracked/deleted files in a wrapper instead of shell function
  dotfiles/nix/nix-wrapper.fish
  dotfiles/nix/zz-nix.fish
  flake-modules/home-manager/modules/nix.nix
Due: fix-nix

fix lefthook when it's run outside the terminal
  .lefthook.yml
Due: none

(just) add test task
  .justfile
Due: none

source root .envrc before smart plug .envrc
  dotfiles/smart_plug/.envrc
Due: none

move on-change hook into lefthook
  .git-hook-assets/actions/.gitkeep
  .git-hook-assets/on-change.bash
  .gitignore
  .justfile
  .lefthook.yml
  .lefthook/post-merge/post-merge.bash
  .lefthook/post-rewrite/post-rewrite.bash
  flake-modules/home-manager/modules/utility/repository/git/default.nix
Due: fix-nix

fixes
  .editorconfig
  dotfiles/nix/nix-wrapper.fish
  flake-modules/home-manager/modules/home-manager.nix
Due: fix-nix

(home-manager) ensure all symlink sources exist
  flake-modules/home-manager/modules/general.nix
  flake-modules/home-manager/modules/profile/system-administration.nix
  flake-modules/home-manager/modules/utility/repository/symlink.nix
  flake-modules/overlay/xdg.nix
Due: fix-nix

move things around
  flake-modules/home-manager/modules/general.nix
  flake-modules/home-manager/modules/home-manager.nix
  flake-modules/home-manager/modules/profile/base.nix
  flake-modules/home-manager/modules/utility/default.nix
  flake-modules/home-manager/modules/utility/repository/default.nix
  flake-modules/home-manager/modules/utility/repository/git.nix
Due: fix-nix

run all git hooks through direnv
  .lefthook.yml
  .lefthook/post-merge/post-merge.bash
Due: none

add statix
  flake-modules/assign-inputs-to-host-managers.nix
  flake-modules/bundler/default.nix
  flake-modules/cache.nix
  flake-modules/dev-shell.nix
  flake-modules/home-manager/modules/fish.nix
  flake-modules/home-manager/modules/home-manager.nix
  flake-modules/home-manager/modules/keyboard-shortcuts.nix
  flake-modules/home-manager/modules/login-shell.nix
  flake-modules/home-manager/modules/neovim.nix
  flake-modules/home-manager/modules/tmux.nix
  flake-modules/lib.nix
  flake-modules/nix-darwin/modules/system-settings.nix
  flake-modules/nix-darwin/modules/yabai.nix
  flake-modules/overlay/meta-packages.nix
  flake-modules/overlay/missing-packages.nix
  flake-modules/overlay/pinned-versions.nix
  flake-modules/overlay/plugins/tmux-plugins.nix
  flake-modules/portable-home/shell/home-manager-package.nix
  treefmt.toml
Due: fix-nix

(nix) have wrapper explicitly set input and output files to the terminal
  dotfiles/nix/nix-wrapper.fish
Due: none

(nix) disallow Import from Derivation (IFD)
  .justfile
  dotfiles/neovim/plugin-names.txt
  dotfiles/nix/nix.conf
  flake-modules/dev-shell.nix
  flake-modules/home-manager/modules/neovim.nix
  flake-modules/home-manager/modules/utility/vim-plug.nix
  flake-modules/nix-darwin/modules/yabai.nix
Due: fix-nix

rename to generate-toc-readme to codegen-readme
  .justfile
  .lefthook.yml
  README.md
Due: generate-toc-readme

nix wrapper fixes
  dotfiles/nix/nix-wrapper.fish
Due: none

fix(neovim): remove quickfix autocmds
  dotfiles/neovim/lua/terminal.lua
Due: none

run `codegen-neovim` in a pre-commit hook
  .justfile
  .lefthook.yml
Due: none

(just) make "test" depend on "format"
  .justfile
Due: none

(just) tweak task comment
  .justfile
Due: none

(lefthook) add comment on why I'm setting colors
  .lefthook.yml
Due: none

(readme) use relative links for files in the repo
  README.md
Due: generate-toc-readme

(github) bump cachix-action version
  .github/workflows/cache-build-results.yml
  .github/workflows/publish-shell-executable.yml
Due: none

(just) use --force when installing git hooks
  .justfile
Due: none

run tests in a pure environment
  .justfile
  flake-modules/dev-shell.nix
  tests.bash
Due: fix-nix

don't print tasks in envrc
  .envrc
Due: none

tweak hostctl - run brew after printing the generation diff so even if brew fails I still see the diff - hide some output with chronic
  flake-modules/home-manager/modules/home-manager.nix
  flake-modules/nix-darwin/modules/nix-darwin.nix
Due: fix-nix

upgrade
  flake.lock
Due: none

(fish) remove direnv reload The shell hook handles this already
  dotfiles/fish/config.fish
Due: none

(just) make a separate task for checking files
  .justfile
  tests.bash
Due: none

fix(direnv): add ~/.local/bin to the PATH before the flake bin so I can use my wrappers
  .envrc
Due: none
